* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 12px;
  
}

select {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
  margin-left: 62px
}

hr {
  border: 1px solid rgb(70, 70, 70);
  margin: 0px 0px 20px 0px;
}

input {
  max-width: 30px;
  text-align: center
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

img { 
  background-color: #000; 
  mix-blend-mode: multiply;
}

button {
  background-color: #0d491d; 
  border: none; 
  color: white; 
  padding: 8px 32px; 
  text-align: center; 
  text-decoration: none; 
  max-width: 120px;
  min-width: 120px; 
  font-size: 12px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px;
  border: 1px solid #0a3d0d;  
  box-shadow: 4px 2px 4px rgba(0, 0, 0, .6); 
}

button:hover {
  background-color: #3e8e41;
  transition: background-color 0.3s ease;
}

/* Table styles */

table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 12px;
  text-align: center;
  box-shadow: black 1px 1px 5px 1px;
}

th {
  background-color: #ccc;
  color: #444;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #ddd;
  min-width: 85px;
}

tbody:first-child {
  border: 3px solid black;
}

tr:nth-child(even) {
  background-color: #ebf3f5;
}

tr:nth-child(odd) {
  background-color: #8bd9e7;
}

td {
  padding: 2px;
  border: 1px solid #ddd;
  color: #555;
}

tr:first-child {
  border-bottom: 2px solid #ddd;
}

/* Containers */

.ctn {
  display: flex;
  height: 100vh;
  padding: 10px 10px 10px 10px;
}

.ctn-form-title {
  display: flex;
  padding: 20px 0px 20px 0px;
  align-items: center;
}

.ctn-left {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 5;
  background: linear-gradient(300deg, #9bf1cd, #0b556c);
  margin: 2px;
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120);
  padding: 0px 20px 0px 20px;
}

.ctn-inputs {
  display: inline;
}

.ctn-right {
  min-height: 100%;
  flex: 5;
  margin: 2px;
  background-color: #393E46;
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120);
}

.ctn-inputs-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.ctn-inputs-img-results-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.ctn-secondary {
  display: flex;
  justify-content: space-between
}

.ctn-results-export {
  display: flex;
  flex-direction: column;
}

.ctn-results {
  display: flex;
  justify-content: flex-start;
  
}

.ctn-results table {
  margin-right: 20px;
}

.ctn-export {
  align-items: end;
}



